@{
  Layout = "_Layout"; 
}

<h1>Bakery Vendor Management System</h1>
<h4>This is a bakery vendor order management system where you will manage the tea order with vendors.<h4>
<h4>With this system, you will be able to add new orders and track with the data.<h4>

<h2><a href="/vendors/new">Add a new Vendor</a> &nbsp &nbsp &nbsp <a href="vendors">View Vendors</a></h3>
